<div>
    <form name="bookForm" novalidate>
        <div class="modal-header">
            <h3 class="modal-title">{{title}}</h3>
        </div>
        <div class="modal-body">
            <p>Tytuł:<br>
			  <input type="text" name="btitle" ng-model="btitle" required>
			  <span style="color:red" ng-show="bookForm.btitle.$dirty && bookForm.btitle.$invalid">
			  <span ng-show="bookForm.btitle.$error.required">Brak tytułu.</span>
			  </span>
			</p>
				<div ng-repeat="author in authorList">{{author.fname}} {{author.lname}}</div>
			  <div style="color:red" ng-show="authorList.length < 1">
			  	<span>Brak autora.</span>
			  </div>
			  	
			  
			  <!-- <textarea rows="{{authorList.length}}" cols="50" name="alist" ng-model="alist" required>{{authorList.value}}</textarea> -->
            	<button class="btn btn-success" ng-click="addAuthor()">{{addAuthorButton}}</button>
        </div>
        <div class="modal-footer">
			<!-- <input class="btn btn-warning" type="submit" value="Zapisz" ng-disabled="bookForm.btitle.$invalid"> -->
			<button class="btn btn-success" ng-click="submit(bookForm)" ng-disabled="bookForm.btitle.$invalid || authorList.length < 1">Zapisz</button>
            <button class="btn btn-warning" ng-click="close()" >Zamknij</button>
        </div>
    </form>
</div>